# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# ML модель и данные — не коммитить
backend/model.pkl
backend/data/

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
